rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir acceso público a la colección carrito (solución temporal)
    match /carrito/{document=**} {
      allow read, write: if true;
    }
    
    // Permitir acceso público a otras colecciones (solución temporal)
    match /{collection}/{document=**} {
      allow read, write: if true;
    }
  }
}
